.article-list {
  padding: 20px;
  color: #2a2b2a;
}
.article-list ul {
  list-style-type: none;
}

.article-card {
  border-radius: 25px;
  margin: 10px;
  padding: 15px;
  background-color: #bb858847;
}

.icon {
  font-size: 0.8em;
  vertical-align: middle;
  display: inline;
  padding: 5px;
  width: 15px;
}
.vote-button {
  background-color: transparent;
  border: none;
}
