.title {
  text-transform: uppercase;
}
.article-list {
  padding: 20px;
  color: #2a2b2a;
}
.article-list ul {
  list-style-type: none;
}

.selectors * {
  font-size: 0.9rem;
  display: inline-block;
  margin: 2px;
}

.loading-bar {
  padding: 10px;
}

.create-article-button {
  font-family: monospace;
  background-color: white;
  border: solid;
  border-color: rgba(0, 0, 0, 0.548);
  border-radius: 5px;
  color: #969796;
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 75vw;
  height: 40px;
  margin: 15px 0px;
}
