.article-link {
  color: inherit;
  text-decoration: inherit;
}
.article-card {
  border-radius: 25px;
  margin: 10px;
  padding: 15px;
  background-color: #bb858847;
}

.icon {
  vertical-align: middle;
  display: inline;
  padding: 5px;
  width: 15px;
  cursor: pointer;
}
.vote-button {
  background-color: transparent;
  border: none;
}

.icon.small {
  font-size: 0.8em;
  width: 15px;
}

@media only screen and (min-width: 600px) {
  .article-card {
    width: 400px;
    height: 200px;
  }

  .article-card * {
    padding: 5px;
  }

  .icon.small {
    font-size: 1em;
    width: 20px;
  }
}
