.article-item {
  margin: 10px;
}

.article-item > * {
  padding: 10px;
}

.article-item > p {
  font-size: 1.2rem;
  text-align: justify;
}

.icon.large {
  font-size: 1em;
  width: 30px;
}

.button-delete {
  background-color: transparent;
  border: none;
}
