.comment-list {
  padding-top: 30px;
}

.comment-list ul {
  list-style: none;
}

.comment-item {
  margin: 10px;
  background-color: #bb858823;
  border-radius: 20px;
}

.comment-item > * {
  padding: 5px;
}

.comment-item p {
  text-align: justify;
}

@media only screen and (min-width: 600px) {
  .comment-list {
    font-size: 1.2em;
  }

  .comment-list > h3 {
    font-size: 2em;
  }

  .comment-list ul {
    display: flex;
    flex-wrap: wrap;
  }

  .comment-item {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
  }
  .comment-item > * {
    padding: 10px;
  }
}
