footer {
  min-height: 7vh;
  background-color: #414043;
  color: #eef0f2;
  padding: 20px;
}

footer a {
  color: #eef0f2;
  text-decoration: none;
  background-color: #414043;
}
footer a:hover {
  text-decoration: underline;
}
