.article-form {
  height: 100vh;
}
.article-form * {
  display: block;
  margin: 25px auto;
}

.article-form h2 {
  margin-top: 30px;
}

.article-input {
  width: 65vw;
  padding: 10px;
}

.article-text-box {
  border-radius: 4px;
  padding: 10px;
  height: 50vw;
  width: 70vw;
  font-size: 1.1em;
}

@media only screen and (min-width: 600px) {
  .article-input {
    width: 45vw;
    font-size: 1.2rem;
  }
  .article-text-box {
    width: 60vw;
    height: 200px;
    font-size: 1.5rem;
  }
  .article-form h2 {
    font-size: 2em;
  }
}
